<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 text-center">
            <h4 class="well well-sm">Stories
            </h4>
        </div>

    </div>
    <div class="row">
        <div class="col-md-1 ">
            <button class="btn btn-sm btn-success" ng-click="sc.gotoStory()">Add Story</button>
        </div>
        <div class="col-md-offset-10 col-md-1 ">
            <a ui-sref="tasks">Tasks</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Feature</th>
                    <th>Justification</th>
                    <th>Persona</th>
                    <th>Priority</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="story in sc.stories">
                    <td width="30%"><a href="" ng-click="sc.gotoStory(story)">{{story.feature}}</a></td>
                    <td width="45%">{{story.justification}}</td>
                    <td width="10%">{{story.persona}}</td>
                    <td width="10%">{{story.priority}}</td>
                    <td width="5%"><button ng-click="sc.delete(story.id)" class="btn btn-sm btn-danger">Delete</button></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>